:host {
    background-color: #5c7ba4;
    color: #000;
    margin: 0;
    margin-top: 5px;
    border-radius: 9px;
    width: fit-content;
  }

:host [part="time"] {
  color: #000;
}

:host([theme~="current-user"]) {
    background-color: #6fb3fc;
    color: #fff;
    border-radius: 9px;
    font-weight: 900;
    align-self: end;
  }
:host([theme~="current-user"]) [part="name"] {
    font-weight: 900;
}
:host([theme~="current-user"]) [part="time"] {
    color: #fff;
}

:host([theme~="current-user"]) vaadin-message-avatar {
    display: none;
}